/* switch to scss, but also probably want to move to Parcel */

.tile {
    width: 32px;
    height: 32px;
}

/* plain armor */
.human_1 {
    background: url('/sprites/humans.png') -32px -32px;
}

/* gold armor */
.human_2 {
    background: url('/sprites/humans.png') -64px -32px;
}